<header class="header">

    <div class="header-title">

        <h1 id="pageTitle">
            Dashboard
        </h1>

        <p id="pageDescription">
            Plataforma de observabilidade
        </p>

    </div>


    <div class="header-user">

        <div class="user-info">

            <strong id="userName">
                Usuário
            </strong>

            <span id="userRole">
                MEMBER
            </span>

        </div>


        <div class="avatar">

            U

        </div>

    </div>

</header>